https://g1.globo.com/economia/noticia/2025/07/15/tarifaco-de-50percent-ao-brasil-eleva-custos-para-familias-e-afeta-empresas-norte-americanas-dizem-camaras-de-comercio.ghtml

In [1]:
import datetime
import pandas as pd
import xml.etree.ElementTree as ET

In [2]:
# Referência: https://www.gov.br/inpi/pt-br/servicos/patentes/informacao-tecnologica 
# Fonte: https://www.gov.br/inpi/pt-br/servicos/patentes/copy_of_BR_AF_20250103.zip
tree = ET.parse('BR_AF_20250103.xml')

In [3]:
root = tree.getroot()

In [4]:
entry_list = []
error_count = 0

for entry_index, entry in enumerate(root.findall('authority-file-entry')):
    
    publication_reference = entry.find('publication-reference')
    document_id = publication_reference.find('document-id')
    country = document_id.findtext('country')
    doc_number = document_id.findtext('doc-number')
    date = document_id.findtext('date')
    kind = document_id.findtext('kind')
    entry_list.append({
                'country': country,
                'doc-number': doc_number,
                'kind': kind,
                'date': datetime.datetime.strptime(date, "%Y%m%d")
            })

In [5]:
df = pd.DataFrame(entry_list)

In [6]:
df = df[(df['kind'] == 'B1') | (df['kind'] == 'Y1')]

In [7]:
df.to_pickle('BR_AF_20250103.pkl')

In [8]:
df

        country    doc-number kind       date
37           BR     PI0303425   B1 2017-09-05
46           BR  112013006570   B1 2020-01-21
54           BR  112017020259   B1 2024-02-27
58           BR     MU7503070   Y1 2003-04-29
60           BR     PI9601931   B1 2003-12-23
...         ...           ...  ...        ...
1147546      BR     PI0810180   B1 2018-10-02
1147547      BR     MU7600640   Y1 2002-09-03
1147562      BR  112020019011   B1 2024-05-28
1147565      BR     PI0413598   B1 2021-01-26
1147569      BR     PI0102059   B1 2009-07-28

[207213 rows x 4 columns]